.icon svg {
	fill: currentColor;
}

body.overlay-visible .boardsvg>* {
	filter: blur(8px) !important;
}

body.overlay-visible .boardsvg #cell-grids {
	filter: none;
}

svg#svgrenderer {
	pointer-events: all;
}

svg#svgrenderer * {
	pointer-events: none;
}

.row {
	display: flex;
	align-items: stretch;
}

.cell {
	position: relative;
	width: 64px;
	height: 64px;
	font-family: Tahoma, Verdana, sans-serif;
	/* opacity: 0; */
}

.cell * {
	pointer-events: none;
}

.cell-highlight {
	fill: rgba(255, 215, 0, 0.5);
}

.setting-selection-light .cell-highlight {
	outline: 4px solid rgba(255, 255, 255, 0.8);
	outline-offset: -4px;
}

.setting-selection-dark .cell-highlight {
	outline: 2px solid rgba(0, 0, 0, 0.5);
	outline-offset: -2px;
}

.setting-selection-cage .cell-highlight {
	visibility: hidden;
}

.cell-grid {
	fill: none;
	stroke: #000;
	stroke-width: 1;
	stroke-linecap: butt;
	stroke-linejoin: bevel;
	vector-effect: non-scaling-stroke;
}

.cage-box {
	stroke-width: 3px;
}

svg,
svg #arrows {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	perspective: 1000;
	-webkit-perspective: 1000;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.cell-given {
	font-size: 3rem;
}

.cell-value {
	font-size: 3rem;
}

.cell-candidate {
	font-size: 1.2rem;
}

.cell-pencilmark {
	font-size: 1.1rem;
}

#svgrenderer text {
	text-anchor: middle;
	dominant-baseline: middle;
	stroke-width: var(--text-stroke-width);
	stroke-linecap: butt;
	stroke-linejoin: miter;
	paint-order: stroke fill;
}

#svgrenderer .cage-label {
	/*width: 13px; height: 13px;*/
	/*color: #000;*/
	font-size: 13px;
	text-anchor: start;
}